* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.logo img {
    width: 30px;
    border-radius: 50%;
}

.navbar {
    background-color: rgb(51, 51, 51, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* Home Section */
.home {
    height: 100vh;
}

.heading-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px black;
}

.heading-text h1 {
    font-size: 3.6rem;
    padding-bottom: 1rem;
}

.heading-text p {
    font-size: 2rem;
}

/* About section */
.about {
    background-color: rgb(51, 51, 51, 0.7);
}

.aboutMe {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2rem, 4rem;

}

.aboutImg img {
    border-radius: 50%;
    margin: 2rem 4rem;
}

.aboutText {
    margin: 2rem 4rem;
    line-height: 1.8;
}

.aboutText h1 {
    padding-bottom: 1rem;
}

/* Skills section */
.skills-heading {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 3rem;
}

.skills {
    background-color: white;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 3rem;
    align-items: center;
}

.box-container img {
    width: 50px;
    margin-bottom: 1rem;
}

.box {
    text-align: center;
    line-height: 1.8;
    margin: 3rem 2rem;
}

/* contact section */
.contact {
    background-color: rgb(64, 71, 78);
    ;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.contact .container img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.contact .container h2 {
    margin-bottom: 1rem;
}

.contact .container p {
    margin: 1rem 0;
}

.contact .social a img {
    width: 20px;
}

.contact .social a {
    margin: 0.4rem;
}


.copyright {
    background-color: rgb(64, 71, 78);
    padding: 1rem 0;
    text-align: center;
    color: white;
}



@media screen and (max-width: 757px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .aboutMe {
        flex-direction: column;
    }

    .heading-text h1 {
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }

    .heading-text p {
        font-size: 1rem;
    }

    .box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}